@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    border-radius: 50%;
    display: inline-block; 
    position: relative;
    overflow: hidden;
    padding-top: 20px;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3 {
  color: black;
}

.Navbar-Container {
  margin: -30px;
}

#Navbar-Home {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(97, 97, 97);
}

#Navbar-Videos {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(97, 97, 97);
}

#Navbar-Projects {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(97, 97, 97);
}

#Navbar-Home:hover,
#Navbar-Videos:hover,
#Navbar-Projects:hover {
  text-decoration: underline;
  color: blue;
}


